/*
      www.OnlineWebFonts.Com
*/
@font-face {
  font-family: "Spotify";
  src: url("./apps/assets/spotify.woff2") format("woff2"), url("./apps/assets/spotify.ttf") format("truetype");
}

body {
  --dark-txt: #000;
  --med-dark: #111;
  --txt-col: #222;
  --med-txt: #3c3c3c;
  --comp-txt: #ddd;
  --comp-clr: #e6e6e6;
  --gray-txt: #555;
  --sat-txt: #777;
  --clrPrm: #0067c0;
  --wintheme: #eee;
  --scroll: rgb(255 255 255 / 80%);
}

body[data-theme="dark"] {
  --dark-txt: #fff;
  --med-dark: #eee;
  --txt-col: #ddd;
  --med-txt: #c3c3c3;
  --comp-txt: #222;
  --comp-clr: #191919;
  --gray-txt: #aaa;
  --sat-txt: #999;
  --clrPrm: #4cc2ff;
  --wintheme: #1e1e26;
  --scroll: rgb(44 44 44 / 25%);
}

.edgeBrowser {
  --bg0: #e7eaec;
  --bg1: #f7fafc;
  --ipbar: #fefefe;
  --shd: rgba(80, 80, 80, 0.2);
  background: var(--bg0);
}

body[data-theme="dark"] .edgeBrowser {
  --bg0: #222228;
  --ipbar: #222228;
  --bg1: rgb(45, 45, 51);
  --shd: rgba(0, 0, 0, 0.3);

  .edgenavicon {
    filter: invert(1);
  }
}

.wnstore {
  --bg-color: #f3f3f3;
  --nav-btn-hov: #ffffff;
  --page-bg: #f4f4f4;
  --page-bd-col: #e2e2e2;
  --rib-bg: #ffffffb8;
  --rib2-bg: #fdfdfd;
  --det-bg: #f9f9f9;
  background: var(--bg-color);

  .win11Scroll {
    overflow-y: overlay;
  }
}

body[data-theme="dark"] .wnstore {
  --bg-color: #1c2126;
  --nav-btn-hov: #454545;
  --page-bg: #24292c;
  --page-bd-col: #292828;
  --rib-bg: #2f2e30b8;
  --rib2-bg: #2c2f32;
  --det-bg: #282c32;
  background: var(--bg-color);
}

.wnterm {
  background: rgb(16, 16, 16);
}

.notepad {
  --bg1: #f9f9f9;
  --bg2: rgba(240, 240, 240, 0.99);

  background: var(--bg2);
  color: var(--dark-txt);

  .restWindow {
    background: var(--bg1);
  }
}

body[data-theme="dark"] .notepad {
  --bg1: #282828;
  --bg2: rgba(32, 32, 32, 0.99);
}

.calcApp {
  --bg1: rgb(243, 243, 243);
  --bg2: #ffffff;
  --bg3: #f9f9f9;
  --err-bg: rgb(255, 255, 255, 0.1);
  --err-txt: #999;
  background: var(--bg1);
  color: var(--dark-txt);
}

body[data-theme="dark"] .calcApp {
  --bg1: rgba(32, 32, 32);
  --bg2: rgba(255, 255, 255, 0.12);
  --bg3: rgba(255, 255, 255, 0.08);
  --err-bg: rgba(255, 255, 255, 0.033);
  --err-txt: #777;

  .menuBars {
    filter: invert(1);
  }
}

.whiteBoard {
  background: var(--comp-txt);
}

.spotify {
  background: rgb(24, 24, 24);

  .win11Scroll {
    &::-webkit-scrollbar {
      --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
      --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");

      &:hover {
        background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px) / contain no-repeat, var(--scrollbar-top-btn) 0% calc(0% + 3px) / contain no-repeat, rgb(44 44 44 / 80%);
      }

      &-thumb {
        background: rgb(255 255 255 / 50%);
        background-clip: padding-box;
      }
    }
  }
}

.discordWn {
  background: #36393f;
}

.lightWindow {
  background: #e7eaec;
}

.darkWindow {
  background: #1a1614;
}

.wnCam {
  background: #060606;
}

.msfiles {
  --bg0: #edf2fe;
  --bg1: #ffffff;
  --bg2: #f5f5f5;
  --dsb-col: #aaa;
  --gray1: #bbb;
  --gray2: #ddd;
  --hover-bg: rgba(0, 178, 255, 0.16);
  --focus-bg: rgba(0, 183, 255, 0.25);
}

body[data-theme="dark"] .msfiles {
  --bg0: #19212e;
  --bg1: #191919;
  --bg2: #1c1c1c;
  --dsb-col: #555;
  --gray1: #444;
  --gray2: #222;
  --hover-bg: rgba(136, 136, 136, 0.5);
  --focus-bg: rgba(228, 228, 228, 0.5);
}

.settingsApp {
  --bg0: #eff4f9;

  background: var(--bg0);
  color: var(--dark-txt);
}

body[data-theme="dark"] .settingsApp {
  --bg0: #202020;
}
