.edgeBrowser{
  background: rgb(231, 234, 236);
}

.wnstore{
  background: rgb(241, 243, 245);
}

.wnterm{
  background: rgb(16, 16, 16);
}

.notepad{
  background: #fefefe;
}

.calcApp{
  background: #eee;
}
