[submodule "src-tauri"]
	path = src-tauri
	url = https://github.com/thinkonmay/moonlight-tauri-react
[submodule "core"]
	path = src-tauri/core
	url = https://github.com/thinkonmay/thinkremote-browser-core
