.clusterInfo {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px;

  position: fixed;
  z-index: 2;
  top: 29px;
  right: 55px;
  background: #008280;
  ;
  border-radius: 8px;

  color: white;
  font-weight: 500;
}

