.clusterInfo {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px;

  position: fixed;
  z-index: 2;
  top: 29px;
  right: 55px;
  background: #008280;
  ;
  border-radius: 8px;

  color: white;
  font-weight: 500;
}

.userManager {
  background: f5f6f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 360px;
  //width: 40%;
  min-width: 270px;
  height: 100%;
}

@media (1px < width < 1024px) {
  .userManager {
    font-size: 13.5px;
    overflow-y: auto;
  }
}