.taskmanagerApp {
  --txt_clr-rgb: 0 0 0;

  background: var(--fakeMica);
  color: var(--dark-txt);

  nav {
    position: absolute;
    left: 0;
    width: 64px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .navLink {
      height: 36px;
      padding-left: 7px;
      margin: 2px 16px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      &:hover,
      &.selected {
        background: rgb(var(--txt_clr-rgb) / 5%);
      }
    }

    .someIcon {
      padding: 0 8px;
    }

    .pageName {
      display: none;
    }

    &.open {
      width: 264px;

      .pageName {
        display: inline;
      }
    }

    .marker {
      position: absolute;
      background: var(--clrPrm);
      height: 16px;
      width: 3px;
      border-radius: 3px;
      top: 0;
      left: 16px;
      transition: transform 250ms cubic-bezier(1, 0, 0, 1);
    }

    @for $i from 1 to 10 {
      .navLink:nth-child(#{$i}).selected ~ .marker {
        transform: translateY(((40 * ($i - 1)) + 12) + px);
      }
    }
  }

  main {
    margin-left: 100px;
  }

  nav.open ~ main {
    margin-left: 300px;
  }

  .navMenuBtn {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 12px;
    border-radius: 6px;

    &:hover {
      background: rgb(var(--txt_clr-rgb) / 5%);
    }

    svg {
      transition: all 0.1s;
    }
    &:active svg {
      transform: scaleX(0.67);
    }
  }
}

body[data-theme="dark"] .taskmanagerApp {
  --txt_clr-rgb: 255 255 255;
}
