body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background: #3973aa;
  color: #fefeff;
  height: 100vh;
  margin: 0;
}

#page {
  display: table;
  height: 100%;
  margin: 0 auto;
  margin-top: -10px;
  width: 70%;
  font-size: 1.9vw;
}

#container {
  display: table-cell;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  padding: 0;
  margin: 25px 0;
  margin-top: 0;
  font-weight: 300;
}

h1 {
  font-size: 6.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
  line-height: 1.5em;
}

h5 {
  line-height: 1.1em;
  font-size: 1.3em;
}

#details {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  padding-top: 10px;
}

#qr {
  flex: 0 1 auto;
}

#image {
  background: white;
  padding: 5px;
  line-height: 0;
}

#image img {
  width: 9.8em;
  height: 9.8em;
}

#stopcode {
  padding-left: 10px;
  flex: 1 1 auto;
}

@media (min-width: 840px) {
  #page {
    font-size: 140%;
    width: 800px;
  }
}

/* Loader css */

#loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  z-index: 99999999999999;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.circledots {
  position: relative;
  top: 0;
  left: 0;
  transform: scale(.9);
  width: 50px;
  height: 50px;
  margin: auto;
}

.circledots .circle {
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 0;
  border-radius: 100px;
  transform: rotate(225deg);
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 5.5s;
}

.circledots .circle:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  clip-path: circle(100%);
  border-radius: 100px;
  background: #fff;
}

.circledots .circle:nth-child(2) {
  animation-delay: 240ms;
}

.circledots .circle:nth-child(3) {
  animation-delay: 480ms;
}

.circledots .circle:nth-child(4) {
  animation-delay: 720ms;
}

.circledots .circle:nth-child(5) {
  animation-delay: 960ms;
}

@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }

  76% {
    transform: rotate(945deg);
    opacity: 0;
  }

  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}

#loads {
  fill: #0178D4 !important;
}
