.notify-icon {
	display: flex;
	justify-content: center;
	margin-top: 24px;

	svg {
		font-size: 50px;
	}
}


.fullscreenModal{
	color: #000000;
	background: white;
	.ctnButton{
		display: flex;
		align-items: center;
		font-weight: 500;

		.key{
			border: 1px solid #5c4949;
			padding: 6px;
			margin: 0 8px; 
			font-weight: 500;
			
		}
	}
}

.modalContent{
	.subscription{
		input{
			height: 40px;
			width: 100%;
			flex: 1;
			padding: 0 8px;
			border-radius: 4px;
		}
		select{
			height: 40px;
			width: 100%;
			padding: 0 8px;
			border-radius: 4px;

		}
		button{
			height: 40px;
			cursor: pointer;
		}
		.updateSub{
			label{
				display: flex;
				gap: 8px;
				align-items: center;

				span{
					display: inline-block;
					min-width: 60px;

				}
			}
			.save{
				width: 70%;
				margin: 0 auto;
				margin-top: 16px;
			}
		}
	}
}