name: Update Dependencies

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  Update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - run: |
          npm update --save
          git config --global user.email "w11bot@andrewstech.me"
          git config --global user.name "win11bot"
          git add .
          git commit -m "Update Dependencies"
          git push
